body {
  background-color: #f0f2f5 !important;
}
.ant-layout-sider {
  background: #ffffff !important;
}
aside.ant-layout-sider.ant-layout-sider-dark {
  width: 248px !important;
  max-width: 248px !important;
}
header.ant-layout-header.site-layout-background {
  background: #3660a5 !important;
  height: 256px;
}
.ant-input-affix-wrapper {
  position: relative;
  /* display: inline-block; */
  width: 40% !important;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: transparent !important;
  background-image: none;
  border: 2px solid #d9d9d9 !important;
  border-radius: 29px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 49px !important;
}
span.search-input.ant-input-affix-wrapper {
  /* margin-left: 51%; */
  margin-top: 1%;
}
.nav-bar-setup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px 2px 24px;
}
.search-box {
  /* background: red; */
  width: 82%;
  justify-content: flex-end;
  display: flex;
}
.ant-input-prefix {
  margin-right: 4px;
  padding-top: 9px !important;
}
span.anticon.anticon-search.site-form-item-icon {
  color: #d9d9d9 !important;
  font-size: 15px;
}

.search-input {
  background: transparent !important;
}
span.search-input.ant-input-affix-wrapper > input {
  background: transparent;
}
label.a-link {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}
label.a-link-1 {
  color: white;
  font-weight: 800;
  padding: 10;
  margin-left: 13px;
}
.home-container {
  padding: 20px;
  line-height: 1;
  background: white;
  border-radius: 11px;
}
h1.main-head {
  /* text-transform: uppercase; */
  font-weight: bolder;
  font-size: 1.5rem;
}

h4.sub-head {
  font-size: 11px;
  color: #8c9cae;
  font-weight: 700;
}
.home-content {
  padding: 37px;
}

.dropdown-div {
  display: flex;
  flex-direction: column;
}

label.dropdown-lable {
  font-size: 12px;
  font-weight: 800;
}

.custom-form-col {
  padding: 5px;
}
.input-yr {
  width: 138px;
  border: none;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  height: 40px;
  border-radius: 3px;
}

.input-exam-code {
  width: 225px;
  border: none;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  height: 51px;
  border-radius: 3px;
}

.input-desicription {
  height: 65px;
  border: none;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  height: 51px;
  border-radius: 3px;
}
.btn-div {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 43px;
}

button.ant-btn.add-btn {
  background: #5e72e4;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  width: 100px;
  height: 43px;
}
.card-heading.heading-justify {
  display: flex;
  justify-content: space-between;
}
select.dropdown-select {
  font-weight: 500;
  border: none;
  background: white;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  transition: box-shadow 0.15s ease;
  height: 38px;
  padding: 10px;
  border-radius: 4px;
}
.ant-table tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: #f7fafc !important;
}
.assignment-tbl-wrapper {
  padding: 30px;
  border: none;
}
.ant-pagination-item.ant-pagination-item-active {
  font-weight: 900 !important;
  border-radius: 20px !important;
  color: white;
  background-color: #3660a5 !important;
  border-color: #3660a5 !important;
}
.ant-pagination-item {
  /* font-weight: 900 !important; */
  border-radius: 20px !important;
  color: white;
  background-color: white !important;
  border: 1px solid #dee2e6 !important;
}
li.ant-pagination-item.ant-pagination-item-active > a {
  color: white !important;
}
li.ant-pagination-item.ant-pagination-item > a {
  color: #8898aa;
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border-radius: 20px !important;
}

.pagination-wrapper {
  padding: 26px;
  text-align: center;
}
.ant-menu-submenu-selected {
  color: black !important;
}
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: unset !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  /* background-color: #e6f7ff; */
  color: black !important;
  font-weight: 600 !important;
  background: white !important;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: black !important;

  font-weight: 600 !important;
}
input.input-exam-code {
  padding: 10px;
}

input.input-yr {
  padding: 10px;
}
span.validation-error {
  color: red;
  font-size: 12px;
  padding-left: 5px;
}
label.total-span {
  font-weight: 700;
  font-size: 16px;
}