#components-layout-demo-side .logo {
    height: 32px;
    background: #FFFFFF;
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .logo {
    height: 32px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: #FFFFFF;
    margin: 16px;
}
  .logo >img {
    width: 164px;
}

